@font-face {
  font-family: "MyWebFont";
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("ttf");
}
* {
  font-family: "mywebFont", sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px hsl(241, 100%, 89%);
}

.card .row > :first-child {
  color: white;
  border-radius: 20px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.rounded-circle {
  text-align: center;
  margin: 20px auto;
  width: 120px;
  height: 120px;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}
.rounded-circle p{
  padding: 20px;
}
.score{
  font-size: 40px;
}

.card .row > :nth-child(2){
  margin: auto;
}

.col .summary{
  color: hsl(224, 30%, 27%);
}
.rounded-3{
  border: 1px solid;
  margin: 10px;

}
.box1{
  border-color:hsl(0, 100%, 67%) ;
}
.box2{
  border-color:hsl(39, 100%, 56%);
}
.box3{
  border-color:hsl(166, 100%, 37%);
}
.box4{
  border-color:hsl(234, 85%, 45%);
}

.text-muted{
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 12px;
  margin: 10px;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
